In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [9]:
import os
os.listdir()

['.ipynb_checkpoints',
 'lahore_house_listings_zameen.csv',
 'Untitled.ipynb',
 'Untitled1.ipynb']

In [12]:
df = pd.read_csv("lahore_house_listings_zameen.csv", encoding="unicode_escape")

In [13]:
df.head()
df.shape
df.columns

Index(['Title', 'Location', 'Type', 'Price', 'Area', 'Bedrooms', 'Bathrooms',
       'Purpose', 'Date Posted', 'Built Year', 'Kitchens', 'Store Rooms',
       'Servant Quarters', 'Furnished', 'Gym', 'Study Room', 'Drawing Room',
       'Dining Room', 'Lawn/Garden', 'Swimming Pool', 'Electricity Backup',
       'Lounge/Sitting Room', 'Link'],
      dtype='object')

In [14]:
import pandas as pd
import re

def convert_price(price):
    if isinstance(price, str):
        price = price.replace("PKR", "").replace(",", "").strip().lower()

        if "crore" in price:
            return float(price.replace("crore", "").strip()) * 10000000
        if "million" in price:
            return float(price.replace("million", "").strip()) * 1000000
        if "lac" in price or "lakh" in price:
            return float(price.replace("lac", "").replace("lakh", "").strip()) * 100000
        if price.isdigit():
            return float(price)

    return None

df["Price_clean"] = df["Price"].apply(convert_price)

In [15]:
df[["Price", "Price_clean"]].head(10)

        Price  Price_clean
0  8.15 Crore   81500000.0
1   1.5 Crore   15000000.0
2   2.4 Crore   24000000.0
3   7.5 Crore   75000000.0
4  6.95 Crore   69500000.0
5   1.5 Crore   15000000.0
6  4.95 Crore   49500000.0
7    14 Crore  140000000.0
8  16.5 Crore  165000000.0
9     2 Crore   20000000.0

In [16]:
import re

def convert_area(area):
    if isinstance(area, str):
        a = area.lower().replace(",", "").strip()
        
        # Kanal → Marla
        if "kanal" in a:
            num = float(re.findall(r"\d+\.?\d*", a)[0])
            return num * 20
        
        # Marla → Marla
        if "marla" in a:
            num = float(re.findall(r"\d+\.?\d*", a)[0])
            return num
        
        # Sqft → Marla (1 Marla = 225 sq.ft.)
        if "sq" in a or "ft" in a:
            num = float(re.findall(r"\d+\.?\d*", a)[0])
            return num / 225
        
    return None

df["Area_marla"] = df["Area"].apply(convert_area)

In [17]:
df[["Area", "Area_marla"]].head(10)

       Area  Area_marla
0   1 Kanal        20.0
1   5 Marla         5.0
2   5 Marla         5.0
3   1 Kanal        20.0
4   1 Kanal        20.0
5   5 Marla         5.0
6  10 Marla        10.0
7   1 Kanal        20.0
8   2 Kanal        40.0
9   5 Marla         5.0

In [18]:
df["Price_per_marla"] = df["Price_clean"] / df["Area_marla"]

In [19]:
df[["Title", "Location", "Area_marla", "Price_clean", "Price_per_marla"]].head(10)

,Title,Location,Area_marla,Price_clean,Price_per_marla
0,ACTUALLY 25 MARLA DOUBLE UNIT LUXURIOUS & GRAC...,"DHA Phase 6 - Block F, DHA Phase 6, DHA Defenc...",20.0,81500000.0,4075000.0
1,3 Years Installment Plan Luxury Brand New Hous...,"Park View City, Lahore, Punjab",5.0,15000000.0,3000000.0
2,5 Marla Luxury House In Rose Block Of Park-Vie...,"Park View City - Rose Block, Park View City, L...",5.0,24000000.0,4800000.0
3,Full Basement 1 kanal Brand New Luxury House N...,"DHA Phase 7 - Block S, DHA Phase 7, DHA Defenc...",20.0,75000000.0,3750000.0
4,1 Kanal Dream Home With Private Pool In DHA Ph...,"DHA Phase 6, DHA Defence, Lahore, Punjab",20.0,69500000.0,3475000.0
5,3 Years Installments Plan 5 Marla Brand New Ho...,"Park View City, Lahore, Punjab",5.0,15000000.0,3000000.0
6,Ultra Modern - 10 Marla Brand New House - Prim...,"Valencia Housing Society, Lahore, Punjab",10.0,49500000.0,4950000.0
7,01 KANAL MODREN HOUSE ON 150 FEET MAIN ROAD DH...,"DHA Phase 6, DHA Defence, Lahore, Punjab",20.0,140000000.0,7000000.0
8,Prime Location 2 Kanal House For sale In DHA P...,"DHA Phase 2 - Block R, DHA Phase 2, DHA Defenc...",40.0,165000000.0,4125000.0
9,Prime Location House Is Available For sale In ...,"Eden Boulevard Housing Scheme, College Road, L...",5.0,20000000.0,4000000.0

In [20]:
def extract_society(location):
    if isinstance(location, str):
        # Split by commas
        parts = location.split(",")
        # Take the first part
        return parts[0].strip()
    return location

df["Society"] = df["Location"].apply(extract_society)

In [23]:
df[["Location", "Society"]].head(10)

,Location,Society
0,"DHA Phase 6 - Block F, DHA Phase 6, DHA Defenc...",DHA Phase 6 - Block F
1,"Park View City, Lahore, Punjab",Park View City
2,"Park View City - Rose Block, Park View City, L...",Park View City - Rose Block
3,"DHA Phase 7 - Block S, DHA Phase 7, DHA Defenc...",DHA Phase 7 - Block S
4,"DHA Phase 6, DHA Defence, Lahore, Punjab",DHA Phase 6
5,"Park View City, Lahore, Punjab",Park View City
6,"Valencia Housing Society, Lahore, Punjab",Valencia Housing Society
7,"DHA Phase 6, DHA Defence, Lahore, Punjab",DHA Phase 6
8,"DHA Phase 2 - Block R, DHA Phase 2, DHA Defenc...",DHA Phase 2 - Block R
9,"Eden Boulevard Housing Scheme, College Road, L...",Eden Boulevard Housing Scheme

In [24]:
df["Date_Posted_clean"] = pd.to_datetime(df["Date Posted"], errors='coerce')

In [25]:
df[["Date Posted", "Date_Posted_clean"]].head(10)

  Date Posted Date_Posted_clean
0  2025-07-27        2025-07-27
1  2025-07-25        2025-07-25
2  2025-07-25        2025-07-25
3  2025-07-25        2025-07-25
4  2025-07-25        2025-07-25
5  2025-07-27        2025-07-27
6  2025-07-25        2025-07-25
7  2025-07-25        2025-07-25
8  2025-07-25        2025-07-25
9  2025-07-25        2025-07-25

In [26]:
avg_price_society = df.groupby("Society")["Price_per_marla"].mean().sort_values(ascending=False)
print(avg_price_society.head(10))

Society
Anwar Town                                    inf
Central Park - Block A1                       inf
Gulberg 3 - Block B3                 1.346154e+07
Garden Town Main Boulevard           1.250000e+07
DHA Phase 8 - Commercial Broadway    1.187500e+07
Gulberg 2 - Block D                  1.121429e+07
MM Alam Road                         9.754289e+06
Sarwar Colony                        9.375000e+06
Shadman 1                            9.000000e+06
Mateen Avenue - Block A              8.823529e+06
Name: Price_per_marla, dtype: float64

In [27]:
df = df[df["Area_marla"] > 0]

In [28]:
avg_price_society = df.groupby("Society")["Price_per_marla"].mean().sort_values(ascending=False)
print(avg_price_society.head(10))

Society
Gulberg 3 - Block B3                 1.346154e+07
Garden Town Main Boulevard           1.250000e+07
DHA Phase 8 - Commercial Broadway    1.187500e+07
Gulberg 2 - Block D                  1.121429e+07
MM Alam Road                         9.754289e+06
Sarwar Colony                        9.375000e+06
Shadman 1                            9.000000e+06
Mateen Avenue - Block A              8.823529e+06
Abid Majeed Road                     8.750000e+06
Allama Iqbal Town - Gulshan Block    8.500000e+06
Name: Price_per_marla, dtype: float64

In [29]:
def format_price(x):
    if x >= 10000000:  # 1 Crore
        return f"{x/10000000:.2f} Cr"
    elif x >= 100000:   # 1 Lakh
        return f"{x/100000:.2f} Lakh"
    else:
        return f"{x:.0f}"

# Apply formatting to average price per Marla
avg_price_society_formatted = avg_price_society.apply(format_price)
print(avg_price_society_formatted.head(10))

Society
Gulberg 3 - Block B3                    1.35 Cr
Garden Town Main Boulevard              1.25 Cr
DHA Phase 8 - Commercial Broadway       1.19 Cr
Gulberg 2 - Block D                     1.12 Cr
MM Alam Road                         97.54 Lakh
Sarwar Colony                        93.75 Lakh
Shadman 1                            90.00 Lakh
Mateen Avenue - Block A              88.24 Lakh
Abid Majeed Road                     87.50 Lakh
Allama Iqbal Town - Gulshan Block    85.00 Lakh
Name: Price_per_marla, dtype: object

In [32]:
df["Price_per_marla_formatted"] = df["Price_per_marla"].apply(format_price)

In [33]:
df_powerbi = df[[
    "Title", 
    "Society", 
    "Area_marla", 
    "Price_clean", 
    "Price_per_marla", 
    "Price_per_marla_formatted",
    "Bedrooms", 
    "Bathrooms", 
    "Date_Posted_clean"
]]

In [34]:
df_powerbi.to_csv("Lahore_RealEstate_Cleaned.csv", index=False)